/* ===== Global Styles ===== */
:root {
  --PrimaryColor: #144c44;
  --SecondaryColor: #47b67b;
  --TertiaryColor: #3d4040;
  --BackgroundColor: #ffffff;
  --TextColor: #333;
  --AccentColor: #296392;

  --Robotics: #b34141;
  --Software: #94578c;
  --Hardware: #296392;
  --Creative: #33e6d7;
}

html {
  scroll-padding-top: 60px; /* height of your fixed navbar */
  scroll-behavior: smooth;  /* optional for smooth scrolling */
}

.section{
  background-color: #296392;
}

.section-title{
  background-color: #aa433f;
}

.section-writing{
  background-color: #3f8ccc;
}

.custom-bg-blue {
  background-color: #4a90e2;
}
